
{% extends 'base.html' %}

{% block title %}Catálogo{% endblock %}

{% load static %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> 

<div class="container-fluid d-flex justify-content-center align-items-center min-vh-120 px-3">
    <div class="card shadow-lg rounded-4 p-4 m-4 col-lg-11 col-md-10 col-sm-12" style="background-color:white;">
        <h2 class="text-center fw-bold mt-2 mb-4" style="color: #634242;">Carrito de Compras</h2>
        <hr class="border-1 opacity-75 mt-1">

        {% if items %}
        <div class="table-responsive">
            <table class="table table-borderless table-hover rounded-3 overflow-hidden">
                <thead class="text-white" style="background-color: rgb(245, 72, 72);">
                    <tr>
                        <th class="text-center">Instrumento</th>
                        <th class="text-center">Precio</th>
                        <th class="text-center">Cantidad</th>
                        <th class="text-center">Subtotal</th>
                        <th class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td class="align-middle text-center">{{ item.instrument }}</td>
                        <td class="align-middle text-center">${{ item.instrument.price }}</td>
                        <td class="align-middle text-center">
                            <div class="d-flex justify-content-center">
                                <a href="{% url 'sales:decrease_quantity' item.id %}" class="btn btn-sm" style="background-color: #ffaa21;">-</a>
                                <span class="mx-2">{{ item.quantity }}</span>
                                <a href="{% url 'sales:increase_quantity' item.id %}" class="btn btn-sm" style="background-color: rgb(245, 72, 72); color: white;">+</a>
                            </div>
                        </td>
                        <td class="align-middle text-center">${{ item.subtotal }}</td>
                        <td class="align-middle text-center">
                            <a href="{% url 'sales:remove_from_cart' item.id %}" class="btn btn-danger btn-sm fw-bold shadow-sm">Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <hr class="border-1 opacity-75 mt-1">

        <div class="d-flex justify-content-end mt-3">
            <h5><strong>Total: $<span id="cart-total">{{ total_price }}</span></strong></h5>
        </div>

        <div class="mt-4 d-flex justify-content-between">
            <a href="{% url 'products:catalog' %}" class="btn shadow" style="background-color: #ffaa21; color: white;">Ir al Catálogo</a>
            {% if cart %}
            <form id="saleForm" action="{% url 'sales:register_sale' %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn" data-url="{% url 'sales:cart_view' %}" style="background-color: rgb(240, 84, 84); color: white;">Realizar pedido</button>
            </form>
            {% endif %}
        </div> 
        {% else %}
        <p class="text-center">Tu carrito está vacío.</p>
        {% endif %}
    </div>
</div>
<!--Link del js-->
<script src="{% static 'js/cart.js' %}"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
{% endblock %}

