{% load static %}

<h2>Órdenes</h2>
<table>
    <tr>
        <th>ID</th>
        <th>Usuario</th>
        <th>Fecha</th>
        <th>Estado</th>
    </tr>
    {% for order in orders %}
    <tr>
        <td>{{ order.id }}</td>
        <td>{{ order.sale.user.username }}</td>
        <td>{{ order.order_date }}</td>
        <td>
            {% if request.user.is_staff %}
            <form action="{% url 'toggle_order_status' order.id %}" method="post" class="status-form" style="display:inline;">
                {% csrf_token %}
                <select name="new_status" onchange="this.form.submit()">
                    <option value="pendiente" {% if order.status == 'pendiente' %}selected{% endif %}>Pendiente</option>
                    <option value="enviada" {% if order.status == 'enviada' %}selected{% endif %}>Enviada</option>
                    <option value="entregada" {% if order.status == 'entregada' %}selected{% endif %}>Entregada</option>
                </select>
            </form>
            {% else %}
            No permitido
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
<!--Link del js-->
<script src="{% static 'js/order.js' %}"></script>