{% extends 'base.html' %}

{% load static %}

{% block title %}Órdenes{% endblock %}

{% block content %}
<div class="container py-4">
    <div class="card shadow-lg rounded-4 p-4" style="background-color:white;">
        <h1 class="text-center fw-bold mt-2 mb-4" style="color: #634242">Órdenes</h1>
        <hr class="border-1 opacity-75 mt-1 mb-3" style="color: rgb(230, 120, 120);">
        <div class="table-responsive">
            <table class="table table-hover rounded-3 overflow-hidden">
                <thead class="text-white">
                    <tr class="text-center">
                        <th>ID</th>
                        <th>Usuario</th>
                        <th>Fecha</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <td class="text-center">{{ order.id }}</td>
                        <td class="text-center">{{ order.sale.user.username }}</td>
                        <td class="text-center">{{ order.order_date }}</td>
                        <td class="text-center">
                            {% if request.user.is_staff %}
                            <form action="{% url 'sales:toggle_order_status' order.id %}" method="post" class="d-inline">
                                {% csrf_token %}
                                <select name="new_status" class="form-select form-select-sm w-auto d-inline" style="border-color: #ff9f00;" onchange="this.form.submit()">
                                    <option value="pendiente" {% if order.status == 'pendiente' %}selected{% endif %}>Pendiente</option>
                                    <option value="enviada" {% if order.status == 'enviada' %}selected{% endif %}>Enviada</option>
                                    <option value="entregada" {% if order.status == 'entregada' %}selected{% endif %}>Entregada</option>
                                </select>
                            </form>
                            {% else %}
                            <span class="text-muted">No permitido</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--Link del js-->
<script src="{% static 'js/order.js' %}"></script>
{% endblock %}