<h2>Ingresa tu nueva contraseña</h2>
<form method="post" novalidate>
    {% csrf_token %}

    <div>
        <label for="{{ form.new_password1.id_for_label }}">Nueva Contraseña</label>
        {{ form.new_password1 }}
        {% if form.new_password1.errors %}
        <div>
            {{ form.new_password1.errors.as_text }}
        </div>
        {% endif %}
    </div>

    <div>
        <label for="{{ form.new_password2.id_for_label }}">Confirmar Contraseña</label>
        {{ form.new_password2 }}
        {% if form.new_password2.errors %}
        <div>
            {{ form.new_password2.errors.as_text }}
        </div>
        {% endif %}
    </div>

    <button type="submit">Restablecer Contraseña</button>
</form>