{% extends 'base.html' %}

{% load static %}

{% block content %}
<!-- Bootstrap JS (necesario para dropdowns) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

<div class="container-fluid d-flex justify-content-center align-items-center min-vh-100 px-3">
    <div class="card shadow-lg rounded-4 p-5 m-4 col-lg-5 col-md-8 col-sm-12" style="background-color: white">
        <h2 class="text-center fw-bold mt-2 mb-4" style="color: rgb(245, 72, 72);">Registro de Usuario</h2>
        <hr class="border-1 opacity-75 mt-1" style="border-color: #ff9f00;">

        <form action="{% url 'register' %}" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="name" class="form-label" style="color: rgb(245, 72, 72);">Nombre:</label>
                <input type="text" id="name" name="name" class="form-control" required style="border-color: #ff9f00;">
            </div>

            <div class="mb-3">
                <label for="last_name" class="form-label" style="color: rgb(245, 72, 72);">Apellido:</label>
                <input type="text" id="last_name" name="last_name" class="form-control" required style="border-color: #ff9f00;">
            </div>

            <div class="mb-3">
                <label for="username" class="form-label" style="color: rgb(245, 72, 72);">Nombre de usuario:</label>
                <input type="text" id="username" name="username" class="form-control" required style="border-color: #ff9f00;">
            </div>

            <div class="mb-3">
                <label for="email" class="form-label" style="color: rgb(245, 72, 72);">Correo Electrónico:</label>
                <input type="email" id="email" name="email" class="form-control" required style="border-color: #ff9f00;">
            </div>

            <div class="mb-3">
                <label for="password" class="form-label" style="color: rgb(245, 72, 72);">Contraseña:</label>
                <input type="password" id="password" name="password" class="form-control" required style="border-color: #ff9f00;">
            </div>

            <div class="d-flex justify-content-center">
                <button type="submit" class="btn shadow w-auto px-5 mt-3" style="background-color: #ff9f00; color: white;">Registrarse</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}